<div class="shadow-lg p-4 mb-5 bg-white rounded">
    <h1 class="text-center" style="font-size:40px; text-shadow: 0.05em 0.1em 0.05em #333">EDICION DE CLIENTE</h1>

    <%= render 'form', client: @client %>

    <div class="text-center pt-4">
        <%= link_to 'VER', @client, class:"btn btn-dark rounded-pill border border-white btn-sm text-center" %> |
        <%= link_to 'VOLVER', clients_path, class:"btn btn-dark rounded-pill border border-white btn-sm text-center" %>
    </div>
</div>
