<div class="shadow-lg p-3 mb-5 bg-white rounded jumbotron">
  <h1 class="display-4">Hola, Bienvenido al Desafio: El Veterinario!</h1>
  <p class="lead">El desafio se logro hacer con 3 niveles de Anidados Cliente, Mascota y el Historial de Mascotas.</p>
  <hr class="my-4">
  <p>Comenzar desde Vista Clientes.</p>  
   <%= link_to "Clientes", clients_path, class:"btn btn-primary btn-lg" %>
</div>